{% extends "base.html" %}

{% load static %}

{% block css %}
{{ block.super }}
<link href="//db.onlinewebfonts.com/c/3066b11123e63381b8e2aa554b18bf32?family=Bauhaus+93" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div style="margin: auto;">
  <div class="row">
  <br>
  <img src="{% static 'images/logo.png' %}" height="30%" style="margin-left: 5%; margin-bottom: 50px;" class="hidden-xs" />
  <span style="color: green; font-family: 'Bauhaus 93'; font-size: 80px;" class="logo-text text-center">CashIn!</span>
  <br>
  <br>
  <br>
  </div>
  <div class="row">
  {% if request.user.is_authenticated %}
    <a class="btn btn-success center-block btn-lg" style="max-width: 50%; padding: 10px;" href ="{% url 'user_profile' %}" >My Profile</a>
  {% else %}
     <a class="btn btn-success center-block btn-lg" style="max-width: 50%; padding: 10px;" href="{% url 'login' %}">Login</a>
     <br />
     <a class="btn btn-info center-block btn-lg" style="max-width: 50%; padding: 10px;" href="{% url 'register' %}">Register</a>
  {% endif %}
  </div>
  <br>
  <div class = "row">
  <a class="btn btn-primary center-block btn-lg" style="max-width: 50%; padding: 10px;" href ="{% url 'info' %}">More Info</a>
  </div>
</div>


{% endblock %}