* {
    font-family: Helvetica;
}

body {
    background-image: url("/static/images/background.png");
}

.content {
    background: white;
    height: 80%;
    max-width: 600px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
    border-radius: 10px;

}