{% extends "base.html" %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <p>{{ error }}</p>
    </div>
    {% endfor %}
    {% endif %}
    <div class="form-group">
        <label for="id_image">Picture Of Receipt</label>
        <input id="id_image" name="image" type="file" accept="image/*;capture=camera">
    </div>
    {% for field in form %}
    {% if field.errors %}
    <div class="row">
        <span class="text-danger">{% for error in field.errors %}{{ error }}{% endfor %}</span>
    </div>
    {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}