{% extends "base.html" %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    {% if items_length == 0 %}
    <div class="alert alert-danger">
        <h2>No Items Found - Unable to Read Receipt</h2>
    </div>
    {% endif %}
    {% for item in items %}
    <input type="hidden" name="item-{{ item.id }}" value="{{ item.id }}"/>
    <div class="row">
      <div class="col-xs-12 col-md-8">{{ item.name }} - ${{ item.price }}</div>
      <div class="col-xs-6 col-md-4">
        <select class="form-control" name="dueBy-{{ item.id }}">
            {% for user in users %}
            <option value="{{ user.username }}" {% if user == request.user %}selected{% endif %}>{{ user.full_name }}</option>
            {% endfor %}
        </select>
      </div>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}